/*
!/.github
!/.sqlx
!/migrations
!/src
!/static
!/templates
!/.gitattributes
!/.gitignore
!/build.rs
!/Cargo.lock
!/Cargo.toml
!/default.toml
!/deployment.bicep
!/deploymentBindingHack.bicep
!/Dockerfile
!/README.md
